%section#content-details.row.clearfix
  %article#details-article.col-sm-8
    %h1#article-title
      Your Product
      %span.font-weight-light Product Name
    %p Lorem ipsum dolor sit amet, in nam feugiat eleifend. Sea an possit offendit definiebas, usu cu aeque mediocritatem. Vis constituam suscipiantur ad, cum duis concludaturque no. Sea vocent consulatu at.
    %p Lorem ipsum dolor sit amet, pri id tractatos torquatos, eruditi alienum eam ad. Sint graeci mel te. Ex eius corrumpit.
    %p
      %strong What You Get
    %ul.no-indent
      %li Lorem ipsum dolor sit.
      %li Lorem ipsum dolor sit amet, cum.
      %li Lorem ipsum dolor sit amet, quo ne etiam.
  %aside#details-aside.col-sm-4
    %a#btn-buy.btn.btn-success.btn-lg.btn-block{:href => "receipt.html"}
      %span.glyphicon.glyphicon-ok>
      Get it!
    = form_tag charges_path do
      %article
        - if flash[:error].present?
          #error_explanation
            %p= flash[:error]
        %label.amount
          %span Amount: $5.00
      %script.stripe-button{"data-amount" => "500",
      "data-description" => "A month's subscription",
       "data-key" => "#{Rails.configuration.stripe[:publishable_key]}",
       "data-locale" => "auto", :src => "https://checkout.stripe.com/checkout.js"}

    %ul#details-infobox.list-group
      %li.list-group-item.active.clearfix Info
      %li.list-group-item What You Get
      %li.list-group-item This Is Included
