#content.container
  %header#content-header
    #price-container
      %span.glyphicon.glyphicon-tag
      %span.price $9.99
    %img#content-header-img{:alt => "Learn Growth Hacking", :src => "img/header-image.jpg"}/
  %section#content-details.row.clearfix
    %article#details-article.col-sm-8
      %h1#article-title
        Your Product
        %span.font-weight-light Product Name
      %p Lorem ipsum dolor sit amet, in nam feugiat eleifend. Sea an possit offendit definiebas, usu cu aeque mediocritatem. Vis constituam suscipiantur ad, cum duis concludaturque no. Sea vocent consulatu at.
      %p Lorem ipsum dolor sit amet, pri id tractatos torquatos, eruditi alienum eam ad. Sint graeci mel te. Ex eius corrumpit.
      %p
        %strong What You Get
      %ul.no-indent
        %li Lorem ipsum dolor sit.
        %li Lorem ipsum dolor sit amet, cum.
        %li Lorem ipsum dolor sit amet, quo ne etiam.
    %aside#details-aside.col-sm-4
      %a#btn-buy.btn.btn-success.btn-lg.btn-block{:href => "receipt.html"}
        %span.glyphicon.glyphicon-ok>
        Get it!
      %ul#details-infobox.list-group
        %li.list-group-item.active.clearfix Info
        %li.list-group-item What You Get
        %li.list-group-item This Is Included
%footer#site-footer
  Made by
  %a{:href => "#", :target => "_blank"}
    %p Learn Rails
/ Scripts
%script{:src => "http://code.jquery.com/jquery-latest.min.js"}
%script{:src => "js/lib/bootstrap.min.js"}
